html {
	min-height: 100%;
	position: relative;
	overflow:auto;
}

body {
	background-color: #454545;
	color: #cecece;
	font-family: Arial;
	font-size: 14px;
	font-weight: 600;
	line-height: 175%;
	min-height: 100%;
	width: 100%;
}