@mixin circle-imagecount($top, $left) {
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ffffff;
	z-index: 10;
	span {
		position: relative;
		top: $top;
		left: $left;
		color: #565656;
	}
}

@mixin fit-image($height) {
	.image-container {
		height: $height;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
	}
}
@mixin item-description {
	.description span:nth-child(1) {
		padding: 5px 5px 0 5px;
		float:left;
		margin: 0;
	}

	.description span:nth-child(2) {
		padding: 5px 5px 0 5px;
		float:right;
		margin: 0;
	}
}

@mixin colorOnHover($isFullHeightAndWidth) {
	// https://css-tricks.com/forums/topic/css-background-image-color-overlay/
	.overlay {
	  	position: relative;
	  	@if ($isFullHeightAndWidth)
	  	{
	  		width: 100%;
	  		height: 100%;
	  	}
	}

	.overlay:after {
		position: absolute;
		padding-top: 75px;
		text-align:center;
		font-size: 18px;
		color: white;
		content:"Details";
		top:0;
		left:0;
		width:100%;
		height:100%;
		opacity:0;
	}

	.overlay:hover:after  {
			opacity: .9;
	}

	.dog:after {
		background-color: $dog-color;
	}

	.cat:after {
		background-color: $cat-color;
	}

	.fish:after {
		background-color: $fish-color;
	}

	.bird:after {
		background-color: $bird-color;
	}

	.hamster:after {
		background-color: $hamster-color;
	}
}