@font-face {
  font-family: choplin;
  src: url(/fonts/Choplin-Medium.otf); }
@font-face {
  font-family: choplin-light;
  src: url(/fonts/Choplin-ExtraLight.otf); }
html {
  min-height: 100%;
  position: relative; }

body {
  background-color: #454545;
  color: #cecece;
  font-style: Arial;
  font-size: 14px;
  font-weight: 600;
  line-height: 175%;
  height: 100%;
  width: 100%; }

.side-container {
  width: 5%;
  float: left;
  background-color: #323232;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden; }
  .side-container .menu-items {
    margin-bottom: 40%; }
    .side-container .menu-items .hamburger {
      background-color: #252525;
      margin-bottom: 25%; }
  .side-container .divider {
    margin-left: 15%;
    width: 70%;
    border-bottom: solid 2px #454545; }
  .side-container .category-items {
    margin-bottom: 60%;
    margin-top: 60%; }
  .side-container .category-items img, .side-container .menu-items img {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    margin-left: 25%;
    width: 50%; }
  .side-container .footer-logo {
    position: absolute;
    bottom: 10px;
    width: 100%; }
    .side-container .footer-logo img {
      margin-left: 30%;
      width: 40%; }

.carousel {
  margin-left: 5%; }
  .carousel .carousel-inner .item img {
    min-width: 100%; }

.logo-image {
  position: absolute;
  width: 22.5%;
  top: 10%;
  left: 41%;
  z-index: 1; }

.login-form {
  background-color: #f7eade;
  margin-top: 30%;
  padding: 25px;
  color: black; }
  .login-form .login-form button {
    background-color: #e27500;
    border-color: #e27500;
    width: 72.5%; }
    .login-form .login-form button:hover {
      background-color: #e27500;
      border-color: #e27500; }

.admin-nav {
  font-size: 1.2em;
  position: absolute;
  padding: 20px;
  right: 3%;
  top: 3%;
  background-color: white;
  box-shadow: 2px 2px 10px black; }
  .admin-nav a:nth-child(1) {
    margin-right: 20px; }

.content {
  margin-left: 5%;
  width: 95%; }
  .content .intro-content {
    width: 65%;
    margin-left: 17.5%;
    margin-top: 75px;
    text-align: center; }
  .content .categories-content {
    margin-top: 50px;
    margin-left: 10%;
    width: 80%; }
    .content .categories-content:after {
      content: '';
      width: 80%;
      display: inline-block; }
    .content .categories-content .category {
      display: inline-block;
      text-align: center;
      margin-top: 10px;
      border-right: 1px solid;
      width: 16.30%;
      height: 75px; }
      .content .categories-content .category img {
        height: 60%;
        width: auto; }
      .content .categories-content .category:nth-child(6n) {
        border-right: none; }
      .content .categories-content .category span {
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-family: choplin-light !important;
        font-size: 1.1em;
        margin-top: 15px; }
  .content .main-content {
    width: 80%;
    margin-top: 50px;
    margin-left: 10%; }
    .content .main-content h1 {
      text-transform: uppercase; }
    .content .main-content .hot-items-container {
      width: 100%;
      height: 100%;
      text-align: justify;
      /* http://www.goldenapplewebdesign.com/css-equally-spaced-horizontal-elements/ */ }
      .content .main-content .hot-items-container .hot-item {
        width: 24.5%;
        display: inline-block;
        background-color: #565656;
        padding: 5px; }
      .content .main-content .hot-items-container:after {
        content: '';
        width: 100%;
        display: inline-block; }
      .content .main-content .hot-items-container .hot-item img {
        max-width: 100%;
        max-height: 100%; }
      .content .main-content .hot-items-container .hot-item span:nth-child(2) {
        padding: 5px 5px 0 5px;
        float: left; }
      .content .main-content .hot-items-container .hot-item span:nth-child(3) {
        padding: 5px 5px 0 5px;
        float: right; }
    .content .main-content #visit-link a {
      color: white;
      float: right; }
    .content .main-content #visit-link a:link {
      color: white;
      text-decoration: underline; }
    .content .main-content .subscribe-container {
      margin: 75px 0 75px 0;
      height: 225px;
      background-color: #5f5f5f; }
      .content .main-content .subscribe-container .discover-box {
        display: inline-block;
        font-family: choplin !important;
        color: #ffffff;
        text-align: center;
        height: 100%;
        width: 65%;
        background-image: url("/img/patroon.jpg");
        padding-top: 15px; }
      .content .main-content .subscribe-container .discover-box h1 {
        margin-left: 15%;
        width: 70%;
        font-size: 48px;
        text-transform: none; }
      .content .main-content .subscribe-container .input-box {
        padding: 20px 0 0 25px;
        display: inline-block;
        height: 100%;
        width: 35%;
        float: right; }
      .content .main-content .subscribe-container .input-box h3 {
        font-size: 22px;
        color: #ffffff; }
      .content .main-content .subscribe-container .input-box span {
        color: #cecece; }
      .content .main-content .subscribe-container .input-box form {
        margin-top: 35px; }
      .content .main-content .subscribe-container .input-box input[type="text"] {
        color: #2b2b2b;
        padding: 10px;
        border: 2px solid #9a9a9a;
        width: 75%; }
      .content .main-content .subscribe-container .input-box input[type="submit"] {
        border: none;
        margin-left: -5px;
        padding: 12px;
        background-color: #323232; }

h1 {
  font-family: choplin !important;
  color: #ffffff; }

/*# sourceMappingURL=app.css.map */
