html {
  min-height: 100%;
  position: relative;
  overflow: auto; }

body {
  background-color: #454545;
  color: #cecece;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  line-height: 175%;
  min-height: 100%;
  width: 100%; }

@font-face {
  font-family: choplin;
  src: url(/fonts/Choplin-Medium.otf); }
@font-face {
  font-family: choplin-light;
  src: url(/fonts/Choplin-ExtraLight.otf); }
.text-thin {
  font-weight: 500; }

.top-margin {
  margin-top: 225px !important; }

.space {
  height: 75px;
  width: 100%; }

.hide {
  display: none; }

.text-right {
  float: right;
  color: white;
  margin: 10px 0; }
  .text-right a {
    color: white;
    float: right; }
  .text-right a:link {
    color: white;
    text-decoration: underline; }

hr {
  border-color: #616161; }

.title {
  text-transform: uppercase;
  font-family: choplin !important;
  color: #fff; }

h1 {
  font-family: choplin !important;
  color: #fff; }

.not-found-msg {
  font-family: Arial;
  color: #fff;
  font-size: 24px; }

.page-not-found-msg {
  font-family: choplin !important;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 48px;
  position: relative;
  top: 250px; }

.pagination-container {
  height: 100px; }

.sprite {
  background-image: url(/img/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-fish {
  width: 65px;
  height: 65px;
  background-position: -95px -149px; }

.sprite-hamster {
  width: 65px;
  height: 65px;
  background-position: -180px -149px; }

.sprite-dog {
  width: 65px;
  height: 65px;
  background-position: -180px -64px; }

.sprite-bird {
  width: 65px;
  height: 65px;
  background-position: -10px -10px; }

.sprite-cat {
  width: 65px;
  height: 65px;
  background-position: -95px -10px; }

.sprite-other {
  width: 65px;
  height: 65px;
  background-position: -265px -95px; }

.nav-sprite-fish {
  width: 65px;
  height: 65px;
  background-position: -95px -149px;
  zoom: .6; }

.nav-sprite-hamster {
  width: 65px;
  height: 65px;
  background-position: -180px -149px;
  zoom: .6; }

.nav-sprite-dog {
  width: 65px;
  height: 65px;
  background-position: -180px -64px;
  zoom: .6; }

.nav-sprite-bird {
  width: 65px;
  height: 65px;
  background-position: -10px -10px;
  zoom: .6; }

.nav-sprite-cat {
  width: 65px;
  height: 65px;
  background-position: -95px -10px;
  zoom: .6; }

.nav-sprite-contact-icon {
  width: 34px;
  height: 34px;
  background-position: -180px -10px;
  zoom: 1.2; }

.nav-sprite-faq-icon {
  width: 65px;
  height: 65px;
  background-position: -10px -149px;
  zoom: .7; }

.nav-sprite-menu-icon {
  width: 65px;
  height: 65px;
  background-position: -265px -10px;
  zoom: .6; }

.nav-sprite-search-icon {
  width: 65px;
  height: 65px;
  background-position: -265px -180px;
  zoom: .7; }

.subscribe-container {
  float: left;
  width: 100%;
  margin: 25px 0 75px 0;
  height: 225px;
  background-color: #5f5f5f; }
  .subscribe-container .discover-box {
    display: inline-block;
    font-family: choplin !important;
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 65%;
    background-image: url("/img/patroon.jpg");
    padding-top: 15px; }
  .subscribe-container .discover-box h1 {
    margin-left: 15%;
    width: 70%;
    font-size: 48px;
    text-transform: none; }
  .subscribe-container .input-box {
    padding: 20px 0 0 25px;
    display: inline-block;
    height: 100%;
    width: 35%;
    float: right; }
  .subscribe-container .input-box h3 {
    font-size: 22px;
    color: #ffffff; }
  .subscribe-container .input-box span {
    color: #cecece; }
  .subscribe-container .input-box form {
    margin-top: 35px; }
  .subscribe-container .input-box input[type="text"] {
    color: #2b2b2b;
    padding: 10px;
    border: 2px solid #9a9a9a;
    width: 75%; }
  .subscribe-container .input-box input[type="submit"] {
    border: none;
    margin-left: -5px;
    padding: 12px;
    background-color: #323232; }

.products-container {
  width: 100%;
  height: 100%;
  text-align: left; }
  .products-container span {
    padding: 5px; }
    .products-container span:nth-child(3) {
      float: left; }
    .products-container span:nth-child(4) {
      float: right; }
  .products-container .product-item {
    border: 0.5px solid #717171;
    width: 24.5%;
    display: inline-block;
    background-color: #565656;
    padding: 5px;
    margin-bottom: 0.5%;
    margin-right: 0.2%; }
    .products-container .product-item .image-container {
      height: 180px; }
    .products-container .product-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
    .products-container .product-item .description span:nth-child(1) {
      padding: 5px 5px 0 5px;
      float: left;
      margin: 0; }
    .products-container .product-item .description span:nth-child(2) {
      padding: 5px 5px 0 5px;
      float: right;
      margin: 0; }
    .products-container .product-item .overlay {
      position: relative; }
    .products-container .product-item .overlay:after {
      position: absolute;
      padding-top: 75px;
      text-align: center;
      font-size: 18px;
      color: white;
      content: "Details";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .products-container .product-item .overlay:hover:after {
      opacity: .9; }
    .products-container .product-item .dog:after {
      background-color: #ff6f9e; }
    .products-container .product-item .cat:after {
      background-color: #8787ff; }
    .products-container .product-item .fish:after {
      background-color: #ffb93f; }
    .products-container .product-item .bird:after {
      background-color: #7bff81; }
    .products-container .product-item .hamster:after {
      background-color: #7be5ff; }
  .products-container .imagecount {
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 10; }
    .products-container .imagecount span {
      position: relative;
      top: 3px;
      left: 6px;
      color: #565656; }
  .products-container .product-image-container {
    height: 180px; }
  .products-container .product-item img {
    max-width: 100%;
    min-width: 100%; }

.justify {
  text-align: justify; }
  .justify:after {
    content: '';
    width: 100%;
    display: inline-block; }

.productdetail-left {
  border: 0.5px solid #717171;
  width: 49%;
  float: left;
  padding: 5px;
  background-color: #565656;
  margin-right: 2%; }
  .productdetail-left .main-image-container {
    height: 300px;
    width: 100%; }
    .productdetail-left .main-image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
  .productdetail-left .details-images-container {
    height: 150px; }
    .productdetail-left .details-images-container .details-image {
      width: 32.5%;
      display: inline-block;
      background-color: #565656;
      padding-top: 10px; }
      .productdetail-left .details-images-container .details-image .image-container {
        height: 120px; }
      .productdetail-left .details-images-container .details-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden; }
    .productdetail-left .details-images-container span {
      text-align: left;
      font-size: 13px; }

.productdetail-right {
  color: white;
  width: 49%;
  float: right;
  padding: 5px; }
  .productdetail-right .tags-container {
    display: inline-block; }

.product-specifications {
  margin-top: 25px;
  padding: 15px;
  width: 100%;
  border: 0.5px solid #717171;
  height: 200px;
  margin-top: 500px; }
  .product-specifications h3 {
    margin: 0; }
  .product-specifications .specification span {
    margin: 0 20px; }

.product-container-margin {
  margin: 25px 0 75px 0; }

.dropdown .btn {
  border-radius: 0px;
  background-color: #616161;
  border-color: #616161;
  color: #cecece; }
.dropdown .caret {
  margin-left: 7.5px; }
.dropdown .dropdown-menu {
  margin-left: -1px;
  border-radius: 0px; }
.dropdown .dropdown-left {
  float: left; }

.color {
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white; }

.side-container {
  width: 5%;
  float: left;
  background-color: #323232;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden; }
  .side-container .menu-items {
    margin-bottom: 40%; }
    .side-container .menu-items .upper-menu-item {
      padding: 2px 0 5px 0;
      width: 100%; }
    .side-container .menu-items .active-menu {
      background-color: #f6f6f6; }
    .side-container .menu-items .hamburger {
      background-color: #252525;
      padding: 2px 0 5px 0;
      margin-bottom: 25%;
      padding-left: 2.5%; }
      .side-container .menu-items .hamburger i {
        margin-bottom: 10px; }
    .side-container .menu-items i {
      margin-top: 12.5%;
      margin-bottom: 5%;
      margin-left: 27.5%; }
  .side-container .divider {
    margin-left: 15%;
    width: 70%;
    border-bottom: solid 2px #454545; }
  .side-container .category-items {
    margin-bottom: 60%;
    margin-top: 60%; }
    .side-container .category-items .active-item {
      filter: none; }
    .side-container .category-items a i {
      filter: brightness(0) invert(1); }
    .side-container .category-items a:hover i {
      filter: none; }
    .side-container .category-items i {
      margin-top: 12.5%;
      margin-bottom: 25%;
      margin-left: 30%; }
  .side-container .footer-logo {
    position: absolute;
    bottom: 10px;
    width: 100%; }
    .side-container .footer-logo img {
      margin-left: 30%;
      width: 40%; }

.sidemenu-open {
  width: 15%;
  left: 5%;
  float: left;
  background-color: #323232;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 11; }

.filter {
  margin-left: 5%; }
  .filter .collection-item {
    padding: 0 10px;
    display: inline-block; }
    .filter .collection-item label {
      position: relative;
      top: -2px;
      left: 5px; }
  .filter .price {
    margin: 10px 0 25px 0; }
    .filter .price .euro {
      color: #2b2b2b;
      /* http://stackoverflow.com/questions/2913236/html-text-input-field-with-currency-symbol */
      border: 1px inset #9a9a9a;
      padding: 10px;
      background-color: #ffffff; }
      .filter .price .euro input[type="text"] {
        font-weight: 600;
        outline: none;
        text-align: center;
        padding: 5px;
        width: 200px;
        color: #2b2b2b;
        border: 0; }
    .filter .price .price-divider {
      padding: 0 20px; }

#filterToggle {
  cursor: pointer; }

.secondary-bg {
  background-color: #f6f6f6 !important;
  min-height: 100vh !important;
  padding: 50px; }

.search-page {
  color: #2b2b2b; }
  .search-page h1 {
    margin: 40px 0;
    color: orange; }

.search-field {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-bottom: 2px solid #2b2b2b;
  background-color: #f6f6f6;
  outline: 0 none;
  font-size: 34px;
  color: #2b2b2b;
  background-image: url(/img/search-icon-black.png);
  background-repeat: no-repeat;
  text-indent: 80px; }
  .search-field::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #e27500; }
  .search-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #e27500;
    opacity: 1; }
  .search-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #e27500;
    opacity: 1; }
  .search-field:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e27500; }

.search-field.dark::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #2b2b2b; }
.search-field.dark:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #2b2b2b;
  opacity: 1; }
.search-field.dark::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #2b2b2b;
  opacity: 1; }
.search-field.dark:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2b2b2b; }

#search-response {
  margin: 50px 0; }

#search-info {
  margin-top: 50px;
  font-weight: 600; }

.searchresults-container {
  padding-bottom: 75px; }
  .searchresults-container .searchresult {
    -webkit-box-shadow: 3px 3px 10px 0px #949494;
    -moz-box-shadow: 3px 3px 10px 0px #949494;
    box-shadow: 3px 3px 10px 0px #949494;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #fff; }
    .searchresults-container .searchresult .result-image {
      width: 25%;
      display: inline-block;
      height: 100%; }
      .searchresults-container .searchresult .result-image img {
        width: 100%; }
    .searchresults-container .searchresult .result-text {
      vertical-align: middle;
      display: inline-block;
      width: 60%;
      margin-left: 2.5%;
      margin-top: 1%; }
      .searchresults-container .searchresult .result-text h3 {
        margin: 0 0 10px 0; }
  .searchresults-container .answer {
    margin-left: 2.5%;
    font-weight: 500; }

.carousel {
  margin-left: 5%; }
  .carousel .carousel-inner .item img {
    min-width: 100%; }

.logo-image {
  position: absolute;
  width: 20%;
  top: 75px;
  left: 42.5%;
  text-align: center;
  z-index: 1; }

.small_logo {
  width: 25px; }

.login-form {
  background-color: white;
  margin-top: 30%;
  padding: 25px;
  color: black;
  border-radius: 5px; }

.admin-nav {
  font-size: 1.2em;
  position: absolute;
  padding: 20px;
  right: 3%;
  top: 3%;
  background-color: white;
  -webkit-box-shadow: 3px 3px 10px 0px grey;
  -moz-box-shadow: 3px 3px 10px 0px grey;
  box-shadow: 2px 2px 10px 0px grey;
  z-index: 1; }
  .admin-nav a:nth-child(1) {
    margin-right: 20px; }

.admin-box {
  -webkit-box-shadow: 3px 3px 10px 0px #949494;
  -moz-box-shadow: 3px 3px 10px 0px #949494;
  box-shadow: 2px 2px 10px 0px #949494;
  width: 100%;
  padding: 20px 40px;
  margin-top: 20px;
  background-color: white; }
  .admin-box h3 {
    color: black;
    margin: 5px 0; }
  .admin-box .hot-item-select {
    display: inline-block;
    width: 15%;
    margin-right: 9%; }
    .admin-box .hot-item-select select {
      width: 100%;
      margin: 10px 0 40px 0; }
  .admin-box .button {
    background-color: orange; }
  .admin-box .message {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 2.5%;
    width: 95%; }
  .admin-box .unread {
    border-left: 2px solid black; }

.admin-right {
  position: relative;
  top: 40px;
  font-size: 18px;
  float: right; }

.admin-image {
  padding-bottom: 50px; }
  .admin-image img {
    border: 1px solid black;
    height: 250px; }

.table {
  color: black; }

.button.orange {
  background-color: orange; }

.mini-thumbnail {
  width: 100px; }

#addImage {
  margin-bottom: 20px; }

label {
  margin: 7.5px 0; }

#colorPicker .colorContainer {
  margin: 20px 0; }
  #colorPicker .colorContainer input[type="color"] {
    height: 50px;
    padding: 2px;
    margin-right: 10px; }

#dimensions input {
  margin: 5px 10px 10px 0; }

.about-container {
  margin-bottom: 250px; }

.about-left-content {
  width: 60%;
  float: left; }

.about-right-content {
  width: 25%;
  float: right;
  padding: 0 40px 20px 40px;
  border-left: 1px solid #616161;
  border-bottom: 1px solid #616161; }

.contact-form {
  margin-bottom: 75px;
  width: 75%; }
  .contact-form input, .contact-form textarea {
    border-radius: 0; }
  .contact-form input[type="text"] {
    width: 37.5%; }

.button {
  color: white;
  background-color: #ff6f9e;
  padding: 5px 100px;
  border: none; }

.content {
  margin-left: 5%;
  width: 95%; }
  .content .main-content {
    width: 80%;
    padding-top: 50px;
    margin-left: 10%; }

.intro-content {
  width: 65%;
  margin-left: 17.5%;
  margin-top: 75px;
  text-align: center; }

.categories-content {
  margin-top: 50px;
  margin-left: 10%;
  width: 80%; }
  .categories-content .category {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    border-right: 1px solid;
    width: 16.30%;
    height: 75px; }
    .categories-content .category i {
      margin-left: 35%; }
    .categories-content .category:nth-child(6n) {
      border-right: none; }
    .categories-content .category span {
      text-transform: uppercase;
      text-align: center;
      display: block;
      font-family: choplin-light !important;
      font-size: 1vw;
      margin-top: 15px; }

.tag {
  white-space: nowrap;
  position: relative;
  margin: 0 5px 10px 15px;
  display: inline-block;
  height: 25px;
  padding: 0 15px 0 15px;
  background: #323232;
  border: 0 solid #323232;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #fff;
  line-height: 23px; }
  .tag .dog {
    background-color: #ff6f9e; }
  .tag .cat {
    background-color: #8787ff; }
  .tag .fish {
    background-color: #ffb93f; }
  .tag .bird {
    background-color: #7bff81; }
  .tag .hamster {
    background-color: #7be5ff; }

.tag:after {
  position: absolute;
  right: 0;
  margin: 1px 7px;
  font-weight: bold;
  font-size: 19px; }

.tag:before {
  position: absolute;
  content: "";
  color: white;
  text-shadow: 0 0 1px #333;
  font-size: 11px;
  line-height: 0px;
  text-indent: 12px;
  left: -15px;
  width: 1px;
  height: 0px;
  border-right: 15px solid #323232;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent; }

.tag-category-color {
  display: inline-block;
  position: relative;
  top: 1px;
  left: -7.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

.faq-container {
  width: 100%;
  color: white; }
  .faq-container .question {
    background-color: #717171;
    padding: 20px;
    margin-top: 15px; }
    .faq-container .question h3 {
      margin: 0; }
    .faq-container .question p {
      margin: 10px 0 5px 25px;
      font-weight: 500;
      font-size: 16px; }

.language-container {
  margin-left: 25%;
  margin-top: 50px;
  width: 50%;
  height: 180px; }
  .language-container .language {
    width: 47.5%;
    height: 100%;
    padding-top: 75px;
    text-align: center;
    display: inline-block;
    background-color: #e6cfb9; }
    .language-container .language:nth-child(1) {
      float: left; }
    .language-container .language:nth-child(2) {
      float: right; }
    .language-container .language a {
      text-decoration: none; }
  .language-container span {
    font-weight: 500;
    font-size: 36px;
    font-family: choplin;
    color: #e27500; }

.language-logo {
  width: 20%;
  margin-left: 40%;
  margin-top: 15%; }

.cookie-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(69, 69, 69, 0.8); }

.cookie-module {
  position: absolute;
  width: 25%;
  top: 35vh;
  height: 20%;
  left: 37.5%;
  background-color: #e6cfb9; }
  .cookie-module .close-cookie-window {
    position: relative;
    top: -20px;
    left: 110%;
    color: #e27500; }
    .cookie-module .close-cookie-window:hover {
      cursor: pointer; }
  .cookie-module .cookie-module-content {
    width: 60%;
    top: -25%;
    left: 20%;
    position: relative; }
    .cookie-module .cookie-module-content p {
      margin: 10px 0;
      width: 100%;
      color: black;
      font-weight: 500; }
    .cookie-module .cookie-module-content span {
      width: 100%;
      font-size: 34px;
      font-weight: 500;
      color: #e27500;
      text-transform: none;
      margin: 0; }
    .cookie-module .cookie-module-content button {
      width: 100%;
      font-size: 18px;
      background-color: #e27500;
      color: white;
      border: none;
      text-align: center;
      padding: 10px 0; }
  .cookie-module img {
    position: relative;
    top: -20px;
    left: -50px; }

.cookie-close {
  display: none; }

/*# sourceMappingURL=app.css.map */
