.text-thin {
 	font-weight: 500;
}
.top-margin {
	margin-top: 225px !important;
}

.space {
	height: 75px;
	width: 100%;
}

.hide {
	display: none;
}


.text-right {
	float:right;
	color:white;

	a {
		color:white;
		float:right;
	}

	a:link {
		color: white;
		text-decoration: underline;
	}
}

hr {
	border-color: $primary-border-color;
}

.title {
	text-transform: uppercase;
	font-family: choplin !important;
	color: #ffffff;
}

h1 {
	font-family: choplin !important;
	color: #ffffff;
}