.hot-items-container {
	text-align: justify;

	.hot-item {
		width: 24.5%;
		
		display: inline-block;
		background-color: #565656;
		padding: 5px;
		
		@include fit-image(180px);
		@include item-description();

		.imagecount {
			@include circle-imagecount(3px, 10.5px);
		}
	}

	/* http://www.goldenapplewebdesign.com/css-equally-spaced-horizontal-elements/ */
	&:after {
			content: '';
			width: 100%;
			display: inline-block;
	}
}