.top-margin {
	margin-top: 225px !important;
}

.productdetail-left {
	border: 0.5px solid #717171;
	width: 49%;
	float: left;
	padding: 5px;
	background-color: #565656;
	margin-right: 2%;

	.main-image-container {
		height: 400px;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			overflow: hidden;
		}
	}

	.details-images-container {
		text-align: justify;
		height: 150px;

		.details-image {
			width: 32.5%;
			display: inline-block;
			background-color: #565656;
			padding-top: 10px;
			
			@include fit-image(120px);
		}

		span {
			text-align: left;
			font-size: 13px;
		}

		/* http://www.goldenapplewebdesign.com/css-equally-spaced-horizontal-elements/ */
		&:after {
			content: '';
			width: 100%;
			display: inline-block;
		}
	}
}

.productdetail-right {
	width: 49%;
	float: right;
	padding: 5px;
}

.product-specifications {
	float:left;
	margin-top: 25px;
	padding: 15px;
	width: 100%;
	border: 0.5px solid #717171;

	h3 {
		margin: 0;
	}

	.specification {
		span {
			margin: 0 20px;
		}	
	}
}

.related-products {
	float: left;
	width: 100%;
	margin-top: 75px;
	text-align: justify;

	.related-product {
		display: inline-block;
		width: 24.5%;
		height: 180px;
		background-color: #565656;
		border: 0.5px solid #717171;
		padding: 5px;

		@include fit-image(160px);
	}

		&:after {
			content: '';
			width: 100%;
			display: inline-block;
		}
}

.faq-container {
	float: left;
	width: 100%;

	.question {
		h3 {
			margin: 0;
		}

		p {
			margin: 10px 0 5px 25px;
			font-weight: 500;
			font-size: 16px;
		}

		background-color: #717171;
		padding: 20px;
		margin-top:15px;
	}
	
}