@import "variables";
@import "fonts";

html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: #454545;
	color: #cecece;
	font-style: Arial;
	font-size: 14px;
	font-weight: 600;
	line-height: 175%;
	height: 100%;
	width: 100%;
 }

.side-container {
	width: 5%;
	float:left;
	background-color: #323232;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow:hidden;

	.category-items {
		margin-top: 70px;
	}

	.category-items, .menu-items {
		img {
			margin-top: 20px;
			margin-left: 30%;
			width: 40%;
		}
	}

	.footer-logo {
		position: relative;
		top: 190px;

		img {
			margin-left: 30%;
			width: 40%;
		}
	}
}

.carousel-image {
	width: 95%;
	margin-left: 5%;
}

.logo-image {
	position: absolute;
	width: 22.5%;
	top: 10%;
	left: 41%;
}

.login-form {
	background-color: #f7eade;
	margin-top: 30%;
	padding: 25px;
	color: black;

	.login-form button {
		background-color: #e27500;
		border-color: #e27500;
		width: 72.5%;

		&:hover {
			background-color: #e27500;
			border-color: #e27500;
		}
	}
}

.admin-nav {
	font-size: 1.2em;
	position: absolute;
	padding: 20px;
	right: 3%;
	top: 3%;
	background-color: white;
	box-shadow: 2px 2px 10px black;

	a:nth-child(1) {
		margin-right: 20px;
	}
}

.content {
	margin-left: 5%;
	width: 95%;

	.intro-content {
		width: 65%;
		margin-left: 17.5%;
		margin-top: 75px;
		text-align: center;
	}

	.categories-content {
		margin-top: 50px;
		margin-left: 10%;
		width: 80%;
		
		.category {
			display: inline-block;
			border-right: 1px solid ;
			width: 16.30%;
			height: 75px;
			text-align: center;
			
			img {
				height: 60%;
				width: auto;
			}

			&:nth-child(6) {
				border-right: none;
			}

			span {
				text-transform: uppercase;
				text-align:center;
				display:block;
				font-family: choplin-light !important;
				font-size: 1.1em;
				margin-top: 15px;
			}
		}
	}

	.main-content {
		margin-top: 50px;
		width: 80%;
		margin-left: 10%;
	}
}

h1 {
	font-family: choplin !important;
	color: #ffffff;
}