@import "variables";
@import "fonts";
@import "mixins";
@import "sidebar";
@import "main-content";
@import "hot-items";
@import "products";
@import "admin-module";
@import "filter-box";
@import "product_detail";
@import "tag";

html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: #454545;
	color: #cecece;
	font-style: Arial;
	font-size: 14px;
	font-weight: 600;
	line-height: 175%;
	height: 100%;
	width: 100%;
}

.text-thin {
 	font-weight: 500;
}

.carousel {
	margin-left: 5%;
	
	.carousel-inner .item img {
		min-width: 100%;
	}
}

.logo-image {
	position: absolute;
	width: 20%;
	top: 75px;
	left: 42.5%;
	text-align: center;
	z-index: 1;
}

.small_logo {
	width: 25px;
}

.dropdown-left {
	float: left;
}

hr {
	border-color: #616161;
}

h1 {
	font-family: choplin !important;
	color: #ffffff;
}