.secondary-bg {
	background-color: #f6f6f6 !important;
	min-height: 100vh !important;
	padding: 50px;
}

.search-page {
	color: $secondary-text-color;
	
	h1 {
		margin: 40px 0;
		color: orange;
	}

	.filter {
		height: 100px;

		.price-divider, .euro {
			float: right;
		}

		.price-divider {
			padding: 10px 20px;
		}

		input[type="text"] {
			padding: 0 !important;
		}

		.left {
			float: left;
			width: 45%;
		}

		.right {
			position: justified;
			float: right;
			width: 45%;
		}

		.right p {
			float: right;
			width: 415px;
		}
	}
}

.search-field {
	width: 100%;
	padding: 20px 0;
	border: none;
	border-bottom: 2px solid $secondary-text-color;
	background-color: $secondary-color;
	outline: 0 none;
	font-size: 34px;
	color: $secondary-text-color;
	background-image: url(/img/search-icon-black.png);
    background-repeat: no-repeat;
    text-indent: 80px;

	// http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:  $cookies-text-color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:  $cookies-text-color;
	   opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:  $cookies-text-color;
	   opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:  $cookies-text-color;
	}
}

.search-field.dark {
	// http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:  $secondary-text-color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:  $secondary-text-color;
	   opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:  $secondary-text-color;
	   opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:  $secondary-text-color;
	}
}

#search-response {
	margin: 50px 0;
}

#search-info {
	margin-top: 50px;
	font-weight: 600;
}

.searchresults-container  {
	padding-bottom: 75px;

	.searchresult {
		-webkit-box-shadow: 3px 3px 10px 0px rgba(148,148,148,1);
		-moz-box-shadow: 3px 3px 10px 0px rgba(148,148,148,1);
		box-shadow: 3px 3px 10px 0px rgba(148,148,148,1);
		width: 100%;
		padding: 10px 20px;
		margin-top: 10px;

		.result-image {
			width: 25%;
			display: inline-block;
			height: 100%;
			
			img {
				width: 100%;
			}
		}

		.result-text {
			h3 {
				margin: 0 0 10px 0;
			}

			display: inline-block;
			width: 60%;
			margin-left: 2.5%;
			margin-top: 1%;
		}
	}

	.answer {
		margin-left: 2.5%;
		font-weight: 500;
	}
}