.side-container {
	width: 5%;
	float:left;
	background-color: #323232;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow:hidden;

	.menu-items {
		margin-bottom: 40%;
		
		.upper-menu-item {
			padding: 2px 0;
			width: 100%;
		}

		.active-menu {
			background-color: #f6f6f6;
		}

		.hamburger {
			background-color: #252525;
			padding: 2px 0;
			margin-bottom: 25%;
		}
	}

	.divider {
		margin-left: 15%;
		width: 70%;
		border-bottom: solid 2px #454545;
	}

	.category-items {
		margin-bottom: 60%;
		margin-top: 60%;

		.active-item {
			filter: none;
		}

		a i {
			filter: brightness(0) invert(1);
		}

		a:hover i{
			filter: none;
		}
	}

	.category-items, .menu-items {
		i {
			margin-top: 12.5%;
			margin-bottom: 25%;

			margin-left: 25%;
		}
	}

	.footer-logo {
		position: absolute;
		bottom: 10px;
		width: 100%;

		img {
			margin-left: 30%;
			width: 40%;
		}
	}
}

.sidemenu-open {
	width: 15%;
	left: 5%;
	float:left;
	background-color: #323232;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow:hidden;
	z-index: 11;
}